.page-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.form-login{
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 500px;
    justify-content: space-around;
}

.page-login .logo-task{
    display: flex;
    justify-content: center;
}

#extend-file{
    position: relative;
    bottom: -10px;
}

.extend-file-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 600px){
    .form-login{
        width: 300px;
    }
}