.page-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.form-register{
    display: flex;
    flex-direction: column;
    height: 390px;
    width: 500px;
    justify-content: space-around;
}

.page-register .logo-task{
    display: flex;
    justify-content: center;
}

.page-register #extend-file{
    position: relative;
    bottom: -10px;
}

@media(max-width: 600px){
    .form-register{
        width: 300px;
    }
}