.page-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.form-register{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    justify-content: space-around;
}

.page-register .logo-task{
    display: flex;
    justify-content: center;
}

.page-register small{
    margin-top: 20px;
}

@media(max-width: 400px){
    .form-register{
        width: 300px;
    }
}